*{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: white;
}

.capitalized-text {
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	color: white;
}

.intro-title{
	font-family: 'Space Grotesk', sans-serif;
	text-align: center;
	color: white;
}

.intro-message {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

body{
	background-color: black;
	background: url("./images/matrix-code.gif");
	background-size: cover;
	background-repeat: no-repeat; 
}

.outlined-text {
    text-shadow:
	0 0 2px white,
	2px 2px 0 white,
	-2px -2px 0 white;
}

.cursor {
	display: inline-block;
	animation: blink 0.8s infinite;
	color: black;
}

@keyframes blink {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}

.footer-text {
  font-family: 'Poppins', sans-serif;
}

.card{
	align-content: center;
}

#aboutmebg{
	background: url("./images/coverphotos/marble-2398956_1280.jpg");
	background-size: cover;
	background-repeat: no-repeat; 

}

#projectsbg{
  background: url("./images/coverphotos/1000005010-02.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#toolsbg{
	background: url("./images/coverphotos/cloud.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
	background-color: black;
}
#contactmebg{
	background: url("./images/coverphotos/digital.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
}

.me{
	width: 420px;
	border-radius: 10%;
}

.fade-image{
	width: 420px;
	border-radius: 10%;
	display: none;
}

#intro{
	font-family: 'Caprasimo', serif;
}

hr{
	background-color: white;
}

.glow {
    box-shadow: 0 0 160px rgba(192, 192, 192, 0.7); /* Silver color */
    transition: box-shadow 0.3s ease-in-out;
}

.project-card{
  min-height: 100%;
}