*{
	font-family: 'Poppins', sans-serif;
	color: white;
}

.capitalized-text {
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	color: white;
}

.intro-title{
	font-family: 'Space Grotesk', sans-serif;
}

.intro-message {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

body{
	background-color: black;
	background: url("./images/matrix-code.gif");
	background-size: cover;
	background-repeat: no-repeat; 
}

.outlined-text {
    text-shadow:
	0 0 2px white,
	2px 2px 0 white,
	-2px -2px 0 white;
}

.cursor {
	display: inline-block;
	animation: blink 0.8s infinite;
	color: black;
}

@keyframes blink {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}

.footer-text {
  font-family: 'Poppins', sans-serif;
}

.fade-image{
	width: 420px;
	border-radius: 10%;
	display: none;
}

.glow {
    box-shadow: 0 0 160px rgba(192, 192, 192, 0.7); /* Silver color */
    transition: box-shadow 0.3s ease-in-out;
}

.project-card{
  min-height: 100%;
}